.modal-backdrop {
	z-index: -1;
}

* {
	direction: rtl;
	text-align: right;
}

.datepicker {
	z-index: 1151;
}

body {
	font-size: 14px;
}

/*bootstrap*/
.modal-backdrop {
	z-index: -1;
}

/*S-JQuery UI*/
.ui-widget {
	font-family: "Noto Kufi Arabic", Verdana, Arial, sans-serif;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
	{
	font-family: "Noto Kufi Arabic", Verdana, Arial, sans-serif;
}

/*E-JQuery UI*/
#view-port {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

#header {
	flex-basis: 50px;
	line-height: 50px;
	background: #F4F3F2;
}

#site-content {
	flex: 1 1 auto;
	display: flex;
	min-height: 0;
	overflow: auto;
}

#footer {
	min-height: 50px;
	line-height: 50px;
	background: #263238;
	color: white;
}

a {
	color: inherit;
}

/*General Class*/
.cus-note-td {
	max-width: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#modal-body {
	overflow: auto;
	max-height: 80vh;
}

@media print {
	@page {
		margin: 0;
	}
	body {
		margin: 1.6cm;
	}
}

@media print {
	body * {
		visibility: hidden;
	}
	#section-to-print, #section-to-print * {
		visibility: visible;
	}
	#section-to-print {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
	}
}