#class-group-table-container {
	padding: 5px;
}

.cus-p-100 {
	max-width: 150px;
	overflow: auto;
}

.page {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

@media print {
	@page {
		size: landscape;
	}
	body {
		writing-mode: tb-rl;
		zoom: 70%;
	}
	*::-webkit-scrollbar {
		width: 0 !important
	}
}