#teacher-body {
	flex: 1 1 auto;
	overflow: visible;
	display: flex;
	flex-direction: row;
	max-width: 100%;
	overflow: auto;
}

#section-right {
	min-height: 0;
	overflow: auto;
	flex-basis: auto;
	padding-left: 10px;
	max-width: 200px;
	overflow: auto;
}

#section-right .cus-right-nav {
	padding: 0px;
}

#main-content {
	overflow: auto;
	flex: 1;
	min-height: 0;
	padding-left: 10px;
	padding: 4px;
}

#cus-class-group-li{
	padding: 0px;
}
#cus-class-group-li  li{
	border: none;
}
.cus-list-level-1{
	padding: 3px;
	padding-right:1em;

}
.cus-list-level-1 >li{
	padding: 3px;
}
.cus-list-level-2{
	padding: 0px;
	padding-right: 1em;
}
.cus-list-level-2 >li{
}


